# ==============================
# DATASET - DO NOT UPLOAD
# ==============================
data/
train/
test/
val/
test_images/

# ==============================
# PYTHON
# ==============================
.venv/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# ==============================
# MODELS - DO NOT UPLOAD
# ==============================
outputs/models/

# ==============================
# UNWANTED OUTPUTS
# ==============================
outputs/figures/gradcam_bbox/
outputs/figures/gradcam_class_comparison/
outputs/figures/gradcam_multiple/
outputs/figures/gradcam_mura_40/

# ==============================
# CSV RESULTS - DO NOT UPLOAD
# ==============================
outputs/reports/*.csv

# ==============================
# IDE
# ==============================
.idea/
.vscode/

# ==============================
# OS
# ==============================
.DS_Store
Thumbs.db
src/check_data.py
src/check_setup.py
src/copy_mura_samples.py
src/evaluate_threshold.py
src/gradcam.py
src/gradcam_bbox.py
src/gradcam_multiple.py
src/predict_custom_folder.py
src/predict_multiple.py
src/show_samples.py
src/train_baseline.py
src/train_model.py
src/src/